/* Custom CSS file */

/* Style the hero section */
#hero {
    height: 100vh;
    background: url("hero-bg.jpg") no-repeat center center;
    background-size: cover;
}

/* Style the about section */
#about {
    padding: 50px 0;
}

/* Style the projects section */
#projects {
    padding: 50px 0;
}

/* Style the contact section */
#contact {
    padding: 50px 0;
    background-color: blue;
}

/* Style the footer */
footer {
    padding: 20px 0;
}
.navbar{
    padding: 20px;
}
a.btn.btn-primary:hover{
    background-color: rgb(red, rgb(116, 224, 116), blue);
    transform: scale(1.2);
    transition: all 0.4s;
    
}

button.btn.btn-primary:hover{
    background-color: rgb(red, green, rgb(44, 211, 203));
    transform: scale(1.2);
    transition: all 0.4s;
}
a.btn.btn-secondary:hover{
    background-color: darkolivegreen;
    transform: scale(1.1);
    transition: all 0.4s;
}
body{
    background-color: rgb(173, 107, 199);
}
